:root {

  --color-Azure: #0695FF;
  --color-Purple: #A334FA;
  --color-PastelRed: #FF6968;
  --color-ErrorRed :#FF0000;
  --color-green: #03f32b;
  --color-white: #FFFFFF;
  --color-gray: #333333;
  --color-black :#000000;
  --color-mediumGray :#606770 ;
  --color-darkGray :#1C1E21;
  --color-lightGray :#737373;

}
body {
  background-color:#f2eeee  ;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

.section_padding {
  padding: 4rem 6rem;
}

a {
  color: unset;
  text-decoration: none;
}

.slide-bottom {
  -webkit-animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}